.block-6 {
  &__wrap {
    display: flex;
    align-items: center;
    gap: 113px;
    padding: 150px 100px 140px;
    @media (max-width: 1199px) {
      gap: 90px;
    }
    @media (max-width: 991px) {
      gap: 60px;
      padding: 100px 50px 90px;
    }
    @media (max-width: 767px) {
      gap: 30px;
      padding: 50px 0 40px;
    }
  }
  &__thumb {
    @media (max-width: 1199px) {
    }
  }
}
