.block-5 {
    &__wrapper {
        display: flex;
        gap: 100px;
        padding: 96px 0;
    }

    &__part-left {
        max-width: 660px;
    }

    &__title {
        padding-bottom: 30px;
    }

    &__text {
        padding-bottom: 40px;
    }

    &__customer {
        display: flex;
        gap: 124px;
    }

    &__AH {
        h3 {
            padding-bottom: 20px;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
        }
    }

    &__btns {
        display: flex;
        gap: 26px;
        align-items: end;
    }

    &__btn-1 {
        background-color: inherit;
        border: 1px solid #CCCCCC;
        border-radius: 50%;
        cursor: pointer;
        height: 56px;
        width: 56px;
    }

    &__btn-2 {
        background-color: #09A66D;
        border: 1px solid #09A66D;
        border-radius: 50%;
        cursor: pointer;
        height: 56px;
        width: 56px;
    }

    &__part-right {
        position: relative;
    }

    &__customers {
        position: absolute;
        top: 404px;
        left: -10px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .25)
    }
}