
.block-4 {
    background-color: #F3FBF8;
    &__wrapper {
        display: flex;
        gap: 50px;
        padding: 95px 0 143px;
    }
    &__part-right {
        padding-right: 10px;
    }
    &__title {
        @include title-1;
        padding: 25px 0 40px;
    }
    &__text {
        @include text-1;
        padding-bottom: 40px;
    }
    &__link {
        p {
            @include text-1;
        }
    }   
    &__link {
        display: flex;
        gap: 20px;
        align-items: center;
        p {
            font-weight: 500;
        }
    }
    &__link-arrow {
        cursor: pointer;
    }

}