a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding: 35px 15px 35px 15px;
  @media (max-width: 1024px) {
  }
}
.burger__menu {
  display: none;
  cursor: pointer;
  @media (max-width: 768px) {
    display: contents;
  }
}
.header-logo {
  img {
    @media (max-width: 1024px) {
      width: 90%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.header-nav {
  display: flex;
  align-items: center;
  z-index: 2;
  @media (max-width: 768px) {
    flex: 1;
  }
}
.header-nav__list {
  display: flex;
  gap: 25px;
  width: 100%;
  @media (max-width: 768px) {
    display: none;
  }
}
.header-nav__list-item {
  cursor: pointer;
}
.header-nav__list-item a:hover {
  color: #09a66d;
}
.utility-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}
.utility-nav__reg-button {
  background-color: #09a66d;
  border-radius: 8px;
  padding: 10px 23px;
  a {
    color: white;
  }
}
.utility-nav__reg-button:hover {
  background-color: #0ee093;
}
