.main__container {
  background-color: #f3fbf8;
  padding-top: 96px;
}
.main__statistic__images {
  mix-blend-mode: multiply;
}
.main-image {
  position: absolute;
  top: -49%;
  left: -8%;
  z-index: 0;
}
.main__header__item {
  font-family: "Rosario", sans-serif;
  font-size: 70px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
.main__header {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
.main__header__p-container {
  display: flex;
  align-items: center;
}
.main__header__paragraph {
  width: 44%;
  text-align: center;
  font-size: 18px;
  z-index: 1;
}
.main__order {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.main__order-items {
  display: flex;
  align-items: center;
  gap: 20px;
  p {
    font-size: 18px;
    font-weight: 500;
  }
}
.main__order-button {
  border: none;
  background: none;
  cursor: pointer;
}
.main__statistic {
  display: flex;
  justify-content: space-between;
}
.main__statistic__items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
.main__statistic__item {
  background-color: white;
  width: 250px;
  height: 116px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__statistic__items__number h2 {
  font-size: 48px;
  text-align: center;
}
.main__statistic__items__number p {
  font-size: 18px;
  text-align: center;
}
.main__container-head-img {
  position: relative;
}
