.process {
  &__form {
    padding-bottom: 16px;
  }
  &__form-button {
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background: #f3fbf8;
    font-size: 18px;
    line-height: 1;
    color: #333333;
  }
  &__title {
    padding-bottom: 20px;
  }
  &__text {
    padding-right: 40px;
    padding-bottom: 50px;
  }
  &__apps-link {
    display: inline-block;
    margin-right: 24px;
  }
}
