.process {
  &__link {
    display: inline-block;
    padding-bottom: 16px;
  }
  &__title {
    padding-bottom: 20px;
    @media (max-width: 768px) {
      padding-bottom: 15px;
    }
  }
  &__text {
    padding-right: 40px;
    padding-bottom: 50px;
    @media (max-width: 768px) {
      padding-bottom: 35px;
    }
    @media (max-width: 576px) {
      padding-bottom: 25px;
    }
  }
  &__apps-link {
    display: inline-block;
    margin-right: 24px;
  }
}
